Syndicate to Social.json
{
    "name": "Content Syndication onto Twitter, Facebook, Instagram, LinkedIn, and Medium",
    "flow": [
        {
            "id": 6,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2820746
            },
            "mapper": {
                "base": "appXnRi4DxGbi6cGM",
                "useColumnId": false,
                "table": "tblB9BFNm24lRXuyQ",
                "formula": "IS_SAME({Date}, '{{formatDate(now; \"M/D/YYYY\")}}', 'day')",
                "maxRecords": "1"
            },
            "metadata": {
                "designer": {
                    "x": -346,
                    "y": 445
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "info@leftclick.ai (User ID: usrSiwTDog9OZ1vjA)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content Calendar"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Table 1"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "fields": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Date",
                        "label": "Date",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "Post Copy",
                        "label": "Post Copy",
                        "type": "text"
                    },
                    {
                        "name": "Image URL",
                        "label": "Image URL",
                        "type": "text"
                    },
                    {
                        "name": "Platforms",
                        "label": "Platforms",
                        "type": "array",
                        "editable": true,
                        "dynamic": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 634823
            },
            "mapper": {
                "select": "chat",
                "max_tokens": "4096",
                "temperature": "0.5",
                "top_p": "1",
                "n_completions": "1",
                "response_format": "text",
                "model": "gpt-4o",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a helpful, intelligent writing assistant."
                    },
                    {
                        "role": "user",
                        "content": "Convert the following post copy into formats for the specified social media platforms. Output in JSON. Each platform is different so make sure you conform to the following specifications. Don't include any backticks (```). Use \\n in place of newlines.\n\nIf Twitter, make it short and punchy (under 280 chars).\n\nIf Instagram, make it short and punchy (under 400 chars).\n\nIf Facebook, leave it medium sized.\n\nIf LinkedIn, make it corporate, longer, and dress it up a bit."
                    },
                    {
                        "role": "user",
                        "content": "Post copy: Small actions, big impact! Recycling isn't just a chore—it's a simple way to make a huge difference. From plastic bottles to cardboard boxes, every item recycled is a step toward a cleaner planet. Let's do our part. Recycle today for a better tomorrow! \n\nPlatforms: Facebook, Instagram, LinkedIn, Twitter"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"facebook\":\"🌍♻️ Did you know that recycling can significantly reduce waste and conserve natural resources?\\nEvery time we recycle, we're helping to cut down on pollution, save energy, and protect our environment. It's not just about tossing items into the correct bin—it's about making a conscious effort to create a more sustainable future for ourselves and generations to come. Imagine the impact if everyone recycled just one plastic bottle or cardboard box today. These small actions add up to massive change.\\nSo, let's take that extra moment to sort our recyclables, educate others, and lead by example. Together, we can make our planet a cleaner, greener place to live. Let's commit to recycling and make a difference every day!\", \"instagram\":\"Recycling is a game-changer! 🌿 Every item you recycle helps cut pollution, save energy, and protect our planet. It’s not just sorting bins—it’s a conscious step towards a sustainable future for us and future generations. Let’s make it count!\", \"linkedin\":\"Did you know that recycling can significantly reduce waste and conserve natural resources? Every time we recycle, we’re not just disposing of waste correctly; we’re actively contributing to a more sustainable and efficient use of our planet’s resources.\\nIn today’s corporate landscape, sustainability is not just a buzzword—it’s a crucial component of responsible business practices. By integrating recycling into our daily operations, we help cut down on pollution, save energy, and mitigate the impact on our environment.\\nThis is about more than just compliance; it’s about leadership and setting an example for others. Recycling is a tangible way to demonstrate our commitment to corporate social responsibility. It involves making a conscious effort to sort our recyclables, educate our teams, and implement sustainable practices across all levels of our organization.\\nEvery recycled item, whether it’s a plastic bottle, cardboard box, or electronic waste, is a step towards a greener future. Imagine the collective impact if every company made recycling a priority. The benefits extend beyond the environment, fostering a culture of sustainability that resonates with employees, customers, and stakeholders alike. As we strive for innovation and growth, let’s also commit to sustainable practices that ensure a healthier planet for future generations.\\nTogether, we can lead the charge towards a more sustainable, responsible, and prosperous future.\", \"twitter\":\"Recycling cuts waste, saves energy, and reduces pollution. It’s more than just sorting bins—it's about building a sustainable future for all. Every effort counts. 🌍♻️\"}"
                    },
                    {
                        "role": "user",
                        "content": "Post copy: {{6.`Post Copy`}}\n\nPlatforms: {{6.Platforms}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -46,
                    "y": 445,
                    "name": "Write Platform-Specific Posts"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 25,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{20.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 265,
                    "y": 448
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{6.`Image URL`}}",
                "serializeUrl": false,
                "method": "get",
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 572,
                    "y": 454
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 890,
                    "y": 453
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 30,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 634823
                            },
                            "mapper": {
                                "select": "chat",
                                "max_tokens": "4096",
                                "temperature": "0.7",
                                "top_p": "1",
                                "n_completions": "1",
                                "frequency_penalty": "0.1",
                                "response_format": "text",
                                "model": "gpt-4",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are a helpful, intelligent writing assistant."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Turn the following post into a punchy one-page newsletter. Make it long and detailed, and use Markdown (atx) format.\n\n---"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Small actions, big impact! Recycling isn't just a chore—it's a simple way to make a huge difference. From plastic bottles to cardboard boxes, every item recycled is a step toward a cleaner planet. Let's do our part. Recycle today for a better tomorrow! "
                                    },
                                    {
                                        "role": "assistant",
                                        "content": "# Newsletter: Small Actions, Big Impact\n\n## Introduction\n\nWelcome to our latest edition of the newsletter, where we focus on the power of small actions and their significant impact on our planet. In this issue, we delve into an often overlooked yet incredibly crucial practice: recycling. Recycling isn't just a mundane task; it's a simple and effective way to contribute to a cleaner and more sustainable world. Let's explore how every little effort in recycling can make a big difference and how you can be a part of this positive change.\n\n## The Importance of Recycling\n\nRecycling plays a vital role in reducing waste, conserving natural resources, and protecting the environment. Here are some key reasons why recycling is essential:\n\n### Reduces Landfill Waste\n\nLandfills are rapidly filling up, and managing waste has become a significant environmental challenge. By recycling, we divert waste from landfills, which helps reduce the need for new landfill sites and minimizes the environmental hazards associated with them.\n\n### Conserves Natural Resources\n\nRecycling materials like paper, plastic, glass, and metals reduces the need to extract and process raw materials, which often involves energy-intensive and environmentally damaging activities. By recycling, we conserve valuable natural resources and protect ecosystems from degradation.\n\n### Saves Energy\n\nProducing new products from raw materials requires more energy compared to recycling existing materials. For instance, recycling aluminum saves up to 95% of the energy needed to produce new aluminum from bauxite ore. This significant energy savings translates to reduced greenhouse gas emissions and a smaller carbon footprint.\n\n### Protects Wildlife\n\nLandfills and waste disposal sites can be harmful to wildlife, leading to habitat destruction and pollution. By recycling, we reduce the amount of waste that ends up in these sites, thereby protecting wildlife and their natural habitats.\n\n## How to Recycle Effectively\n\nRecycling effectively requires a bit of knowledge and effort. Here are some simple steps to ensure you're recycling correctly:\n\n### Know What Can Be Recycled\n\nDifferent materials require different recycling processes. Commonly recyclable items include:\n\n- **Plastic Bottles:** Rinse and remove caps before recycling.\n- **Cardboard Boxes:** Flatten boxes to save space in recycling bins.\n- **Paper Products:** Newspapers, magazines, and office paper can be recycled.\n- **Glass Containers:** Rinse and remove lids or caps.\n- **Metal Cans:** Rinse and ensure they are empty.\n\n### Follow Local Guidelines\n\nRecycling guidelines can vary by location. Check with your local recycling program to understand what materials are accepted and any specific preparation requirements. This ensures that your recyclables are processed correctly and efficiently.\n\n### Avoid Contamination\n\nContamination occurs when non-recyclable materials are mixed with recyclables, which can spoil the entire batch. Common contaminants include:\n\n- **Food Residue:** Clean recyclables to remove food residue.\n- **Plastic Bags:** These often require special recycling processes and should not be mixed with other recyclables.\n- **Non-Recyclable Plastics:** Items like plastic utensils and straws are typically not recyclable.\n\n### Reduce and Reuse\n\nWhile recycling is important, reducing waste and reusing items can have an even greater impact. Consider these practices:\n\n- **Reduce Packaging Waste:** Choose products with minimal packaging.\n- **Use Reusable Items:** Opt for reusable bags, bottles, and containers.\n- **Repurpose:** Find creative ways to repurpose items instead of discarding them.\n\n## Conclusion\n\nRecycling is a powerful tool in our quest for a cleaner, more sustainable planet. By understanding its importance and following best practices, we can ensure that our small actions lead to a big impact. Let's commit to recycling today for a better tomorrow. Together, we can make a difference.\n\nThank you for reading, and let's continue to take steps toward a greener future!\n​"
                                    },
                                    {
                                        "role": "user",
                                        "content": "{{6.`Post Copy`}}\n\n---"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1433,
                                    "y": 748,
                                    "name": "Write Markdown Article"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "1SecondCopy",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Assistant"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "type": "array",
                                        "label": "Token Probability",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        },
                                        "spec": {
                                            "type": "text",
                                            "label": "Stop Sequence",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "type": "array",
                                        "label": "Other Input Parameters",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message",
                                            "name": "value"
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 31,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 634823
                            },
                            "mapper": {
                                "select": "chat",
                                "max_tokens": "4096",
                                "temperature": "0.7",
                                "top_p": "1",
                                "n_completions": "1",
                                "frequency_penalty": "0.1",
                                "response_format": "text",
                                "model": "gpt-4o",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are a helpful, intelligent writing assistant."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Write a title for the following post."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Small actions, big impact! Recycling isn't just a chore—it's a simple way to make a huge difference. From plastic bottles to cardboard boxes, every item recycled is a step toward a cleaner planet. Let's do our part. Recycle today for a better tomorrow! "
                                    },
                                    {
                                        "role": "assistant",
                                        "content": "Recycling isn't a chore—and here's why"
                                    },
                                    {
                                        "role": "user",
                                        "content": "{{6.`Post Copy`}}\n\n---"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1723,
                                    "y": 746,
                                    "name": "Write Title"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "1SecondCopy",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o (system)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Assistant"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "type": "array",
                                        "label": "Token Probability",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        },
                                        "spec": {
                                            "type": "text",
                                            "label": "Stop Sequence",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "type": "array",
                                        "label": "Other Input Parameters",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message",
                                            "name": "value"
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 29,
                            "module": "medium:createPost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 352627
                            },
                            "mapper": {
                                "title": "{{31.result}}",
                                "contentFormat": "markdown",
                                "content": "{{30.result}}",
                                "publishStatus": "draft"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2033,
                                    "y": 751
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "1SecondCopy (1secondcopy)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "medium2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "tags": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:medium2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "contentFormat",
                                        "type": "text",
                                        "label": "Content Format",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "canonicalUrl",
                                        "type": "text",
                                        "label": "Canonical Url"
                                    },
                                    {
                                        "name": "tags",
                                        "type": "array",
                                        "label": "Tags",
                                        "spec": {
                                            "type": "text",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "publishStatus",
                                        "type": "text",
                                        "label": "Publish Status"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "instagram-business:CreatePostPhoto",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2820680
                            },
                            "filter": {
                                "name": "INSTAGRAM?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.Platforms}}",
                                            "o": "array:contain",
                                            "b": "Instagram"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "accountId": "17841448359715989",
                                "image_url": "{{6.`Image URL`}}",
                                "caption": "{{25.instagram}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1420,
                                    "y": 444
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "1SecondCopy (Nick Saraev)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "1SecondCopy (Vancouver) (@1secondcopy)"
                                        },
                                        "user_tags": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "image_url",
                                        "type": "url",
                                        "label": "Photo URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "user_tags",
                                        "type": "array",
                                        "label": "User Tags",
                                        "spec": [
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username",
                                                "required": true,
                                                "validate": {
                                                    "pattern": "^(?!@)"
                                                }
                                            },
                                            {
                                                "name": "x",
                                                "type": "number",
                                                "label": "X position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "y",
                                                "type": "number",
                                                "label": "Y position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "linkedin:ShareImage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2820675
                            },
                            "filter": {
                                "name": "LINKEDIN?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.Platforms}}",
                                            "o": "array:contain",
                                            "b": "LinkedIn"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "fileName": "{{28.fileName}}",
                                "data": "{{28.data}}",
                                "content": "{{25.linkedin}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1420,
                                    "y": 144
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Nickolas Saraev (Nick Saraev)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "text",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "altText",
                                        "type": "text",
                                        "label": "Alt Text"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "twitter:uploadAMedia",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 2820663
                            },
                            "filter": {
                                "name": "TWITTER/X",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.Platforms}}",
                                            "o": "text:contain",
                                            "b": "Twitter/X"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "select": "image",
                                "attachments": [
                                    {
                                        "filename": "{{28.fileName}}",
                                        "data": "{{28.data}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1420,
                                    "y": -156
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Nick Saraev (nicky)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Image or GIF (Size less than 5MB)"
                                        },
                                        "attachments": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "video"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "validate": {
                                            "maxItems": 4
                                        },
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "twitter:createATweet",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 2820635
                            },
                            "mapper": {
                                "text": "{{25.twitter}}",
                                "media_ids": "{{17.media_ids[]}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1720,
                                    "y": -156
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My X (formerly Twitter) OAuth 2.0 connection (nicksaraev)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "media_ids": {
                                            "mode": "edit"
                                        },
                                        "for_super_followers_only": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text Content",
                                        "required": true
                                    },
                                    {
                                        "name": "media_ids",
                                        "type": "array",
                                        "label": "Media IDs",
                                        "mode": "edit",
                                        "spec": {
                                            "type": "text",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "place_id",
                                        "type": "text",
                                        "label": "Place ID"
                                    },
                                    {
                                        "name": "direct_message_deep_link",
                                        "type": "url",
                                        "label": "Direct Message Link"
                                    },
                                    {
                                        "name": "for_super_followers_only",
                                        "type": "boolean",
                                        "label": "Allow to Post Exclusively for Super Followers Only"
                                    },
                                    {
                                        "name": "quote_tweet_id",
                                        "type": "text",
                                        "label": "Quote Post ID"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "facebook-pages:CreatePostWithPhotos",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 2820680
                            },
                            "filter": {
                                "name": "FACEBOOK?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.Platforms}}",
                                            "o": "array:contain",
                                            "b": "Facebook"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "page_id": "107028701632961",
                                "photos": [
                                    {
                                        "type": "data",
                                        "fileName": "image.jpeg",
                                        "data": "{{28.data}}"
                                    }
                                ],
                                "message": "{{25.facebook}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1420,
                                    "y": -456
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "1SecondCopy (Nick Saraev)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "1SecondCopy (Vancouver)"
                                        },
                                        "photos": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "upload a photo"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "photos",
                                        "type": "array",
                                        "label": "Photos",
                                        "validate": {
                                            "maxItems": 30,
                                            "minItems": 1
                                        },
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "I want to",
                                                "options": [
                                                    {
                                                        "label": "upload a photo",
                                                        "value": "data",
                                                        "nested": [
                                                            {
                                                                "name": "fileName",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "download photo from URL",
                                                        "value": "url",
                                                        "nested": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}