7-Figure Hiring System/7-Figure Hiring System (2).json
{
    "name": "2. ClickUp Stage = \"Interviewing 1\" -> Send Email Inviting Candidate to Interview",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1161035,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Sales Hiring Stage = \"Interview 1\""
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "clickup:getATask",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 231856
            },
            "mapper": {
                "task_id": "{{1.payload.id}}",
                "map_or_select": "map"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "map_or_select": {
                            "label": "Map"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            },
                            "label": "1SecondCopy (1SecondCopy)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "map_or_select",
                        "type": "select",
                        "label": "Map or Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "task_id",
                        "type": "text",
                        "label": "Task ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "custom_id",
                        "type": "text",
                        "label": "Custom ID"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "Text Content"
                    },
                    {
                        "name": "status",
                        "spec": [
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Status"
                    },
                    {
                        "name": "orderindex",
                        "type": "text",
                        "label": "Order Index"
                    },
                    {
                        "name": "date_created",
                        "type": "date",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_updated",
                        "type": "date",
                        "label": "Date Updated"
                    },
                    {
                        "name": "date_closed",
                        "type": "date",
                        "label": "Date Closed"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "id",
                                "type": "number",
                                "label": "User ID"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "profilePicture",
                                "type": "text",
                                "label": "Profile Picture"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "assignees",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Assignees"
                    },
                    {
                        "name": "checklists",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "task_id",
                                "type": "text",
                                "label": "Task ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "date_created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Orderindex"
                            },
                            {
                                "name": "creator",
                                "type": "number",
                                "label": "Creator"
                            },
                            {
                                "name": "resolved",
                                "type": "number",
                                "label": "Resolved"
                            },
                            {
                                "name": "unresolved",
                                "type": "number",
                                "label": "Unresolved"
                            },
                            {
                                "name": "items",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "orderindex",
                                            "type": "number",
                                            "label": "Orderindex"
                                        },
                                        {
                                            "name": "assignee",
                                            "type": "text",
                                            "label": "Assignee"
                                        },
                                        {
                                            "name": "group_assignee",
                                            "type": "text",
                                            "label": "Group Assignee"
                                        },
                                        {
                                            "name": "resolved",
                                            "type": "boolean",
                                            "label": "Resolved"
                                        },
                                        {
                                            "name": "parent",
                                            "type": "text",
                                            "label": "Parent"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "children",
                                            "type": "array",
                                            "label": "Children"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Items"
                            }
                        ],
                        "type": "array",
                        "label": "Checklists"
                    },
                    {
                        "name": "watchers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Watchers"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "creator",
                                    "type": "text",
                                    "label": "Creator"
                                },
                                {
                                    "name": "tag_fg",
                                    "type": "color",
                                    "label": "Tag Fg"
                                },
                                {
                                    "name": "tag_bg",
                                    "type": "color",
                                    "label": "Tag Bg"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "parent",
                        "type": "text",
                        "label": "Parent"
                    },
                    {
                        "name": "linked_tasks",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "link_id",
                                    "type": "text",
                                    "label": "Link ID"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Linked Tasks"
                    },
                    {
                        "name": "permission_level",
                        "type": "text",
                        "label": "Permission Level"
                    },
                    {
                        "name": "priority",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Priority"
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "points",
                        "type": "text",
                        "label": "Points"
                    },
                    {
                        "name": "time_estimate",
                        "type": "integer",
                        "label": "Time Estimate (in minutes)"
                    },
                    {
                        "name": "time_spent",
                        "type": "uinteger",
                        "label": "Time Spent"
                    },
                    {
                        "name": "list",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "List ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "List Name"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "List"
                    },
                    {
                        "name": "project",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Project ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Project Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Project"
                    },
                    {
                        "name": "folder",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Folder Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Folder"
                    },
                    {
                        "name": "space",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Space ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Space"
                    },
                    {
                        "name": "dependencies",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "depends_on",
                                    "type": "text",
                                    "label": "Depends On Task ID"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Dependencies"
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": "Workspace ID"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "custom_fields_original",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "type_config",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Type Config"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "hide_from_guests",
                                    "type": "boolean",
                                    "label": "Hide From Guests"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                },
                                {
                                    "name": "required",
                                    "type": "boolean",
                                    "label": "Required"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Fields (original)"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [],
                        "type": "collection",
                        "label": "Custom Fields"
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "date",
                                    "type": "date",
                                    "label": "Date"
                                },
                                {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "source",
                                    "type": "number",
                                    "label": "Source"
                                },
                                {
                                    "name": "version",
                                    "type": "number",
                                    "label": "Version"
                                },
                                {
                                    "name": "extension",
                                    "type": "text",
                                    "label": "Extension"
                                },
                                {
                                    "name": "thumbnail_small",
                                    "type": "text",
                                    "label": "Thumbnail Small"
                                },
                                {
                                    "name": "thumbnail_medium",
                                    "type": "text",
                                    "label": "Thumbnail Medium"
                                },
                                {
                                    "name": "thumbnail_large",
                                    "type": "text",
                                    "label": "Thumbnail Large"
                                },
                                {
                                    "name": "is_folder",
                                    "type": "text",
                                    "label": "Is Folder"
                                },
                                {
                                    "name": "mimetype",
                                    "type": "text",
                                    "label": "Mimetype"
                                },
                                {
                                    "name": "hidden",
                                    "type": "boolean",
                                    "label": "Hidden"
                                },
                                {
                                    "name": "parent_id",
                                    "type": "text",
                                    "label": "Parent ID"
                                },
                                {
                                    "name": "size",
                                    "type": "number",
                                    "label": "Size"
                                },
                                {
                                    "name": "total_comments",
                                    "type": "number",
                                    "label": "Total Comments"
                                },
                                {
                                    "name": "resolved_comments",
                                    "type": "number",
                                    "label": "Resolved Comments"
                                },
                                {
                                    "name": "user",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "number",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "username",
                                            "type": "text",
                                            "label": "Username"
                                        },
                                        {
                                            "name": "email",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "initials",
                                            "type": "text",
                                            "label": "Initials"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        },
                                        {
                                            "name": "profilePicture",
                                            "type": "text",
                                            "label": "Profile Picture"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "User"
                                },
                                {
                                    "name": "deleted",
                                    "type": "boolean",
                                    "label": "Deleted"
                                },
                                {
                                    "name": "orientation",
                                    "type": "text",
                                    "label": "Orientation"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "email_data",
                                    "type": "text",
                                    "label": "Email Data"
                                },
                                {
                                    "name": "url_w_query",
                                    "type": "text",
                                    "label": "URL W Query"
                                },
                                {
                                    "name": "url_w_host",
                                    "type": "text",
                                    "label": "URL W Host"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Attachments"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "emailHtml",
                        "value": "Hi {{2.custom_fields.`First Name`}},\n<br><br>\nOur team loved your video & the rest of your application. We'd love to extend an invitation to learn a little more about you over a call.\n<br><br>\nIf this is still something you're interested in, please book a meeting with our manager Nick using this link: <a href=\"https://cal.com/nick-leftclick/discovery\">Nick's calendar</a>.\n<br><br>\nWe look forward to meeting you. Let us know here if you have any questions—thanks!\n<br><br>\nBest wishes,\n<br>\n1SecondCopy Team"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Set Email HTML"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "emailHtml",
                        "type": "any",
                        "label": "emailHtml"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 231843,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{2.custom_fields.`Candidate Email`}}"
                ],
                "bcc": [],
                "from": "",
                "html": "{{5.emailHtml}}",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Congratulations {{2.custom_fields.First}}! We'd like to have you for an interview.",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "1SecondCopy (info@1secondcopy.com)"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "clickup:postATaskComment",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 231856
            },
            "mapper": {
                "task_id": "{{1.payload.id}}",
                "notify_all": false,
                "comment_text": "{{5.emailHtml}}",
                "map_or_select": "map"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "notify_all": {
                            "mode": "chose"
                        },
                        "map_or_select": {
                            "label": "Map"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            },
                            "label": "1SecondCopy (1SecondCopy)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "map_or_select",
                        "type": "select",
                        "label": "Map or Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "comment_text",
                        "type": "text",
                        "label": "Comment Text",
                        "required": true
                    },
                    {
                        "name": "notify_all",
                        "type": "boolean",
                        "label": "Notify All",
                        "required": true
                    },
                    {
                        "name": "task_id",
                        "type": "text",
                        "label": "Task ID",
                        "required": true
                    },
                    {
                        "name": "assignee",
                        "type": "text",
                        "label": "Assignee User ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}