Instagram Scraper Flow/3. Launch Individual PhantomBuster Instagram Scraper.json
{
    "name": "3. Launch Individual PhantomBuster Instagram Scraper",
    "flow": [
        {
            "id": 11,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2154157
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1RUgx-FOVKtSClQXw6CsJ62_kjev9DvFwhbwR8PpagEU",
                "sheetId": "authentication",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": -1355,
                    "y": 13
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "info@leftclick.ai (info@leftclick.ai)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Instagram Phantombuster Scraping"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "authentication"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "orderBy": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Enter a Spreadsheet ID and Sheet Name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "profileName (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "sessionCookie (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "lastAccessed (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "(D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "(CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "(CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "(CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "(CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "(CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "phantombuster:lauchAPhantom",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1387666
            },
            "mapper": {
                "phantom": "8087929871222392",
                "fields": {
                    "sessionCookie": "{{11.`1`}}",
                    "spreadsheetUrl": "https://docs.google.com/spreadsheets/d/1RUgx-FOVKtSClQXw6CsJ62_kjev9DvFwhbwR8PpagEU/",
                    "numberOfPostsPerProfile": "1",
                    "csvName": "{{uuid}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": -1076,
                    "y": 3
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy (Org of Noah)",
                            "data": {
                                "scoped": "true",
                                "connection": "phantombuster"
                            }
                        }
                    },
                    "expect": {
                        "phantom": {
                            "mode": "chose",
                            "nested": [
                                {
                                    "name": "fields",
                                    "label": "Fields",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "sessionCookie",
                                            "label": "Session Cookie",
                                            "type": "text"
                                        },
                                        {
                                            "name": "spreadsheetUrl",
                                            "label": "Spreadsheet Url",
                                            "type": "text"
                                        },
                                        {
                                            "name": "profileUrls",
                                            "label": "Profile Urls",
                                            "type": "text"
                                        },
                                        {
                                            "name": "columnName",
                                            "label": "Column Name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "numberOfPostsPerProfile",
                                            "label": "Number Of Posts Per Profile",
                                            "type": "number"
                                        },
                                        {
                                            "name": "numberOfProfilesPerLaunch",
                                            "label": "Number Of Profiles Per Launch",
                                            "type": "number"
                                        },
                                        {
                                            "name": "csvName",
                                            "label": "Csv Name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "onlyGetFirstPost",
                                            "label": "Only Get First Post",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "watcherMode",
                                            "label": "Watcher Mode",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "filterResults",
                                            "label": "Filter Results",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "filters",
                                            "label": "Filters",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "YouTube Instagram Photo Extractor"
                        },
                        "saveArgument": {
                            "mode": "chose"
                        },
                        "menualLaunch": {
                            "mode": "chose"
                        },
                        "fields": {
                            "nested": {
                                "onlyGetFirstPost": {
                                    "mode": "chose"
                                },
                                "watcherMode": {
                                    "mode": "chose"
                                },
                                "filterResults": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:phantombuster",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "phantom",
                        "type": "select",
                        "label": "Phantom ID",
                        "mode": "edit",
                        "required": true
                    },
                    {
                        "name": "saveArgument",
                        "type": "boolean",
                        "label": "Save Argument"
                    },
                    {
                        "name": "menualLaunch",
                        "type": "boolean",
                        "label": "Menual Launch"
                    },
                    {
                        "name": "fields",
                        "type": "collection",
                        "label": "Fields",
                        "spec": [
                            {
                                "name": "sessionCookie",
                                "type": "text",
                                "label": "Session Cookie"
                            },
                            {
                                "name": "spreadsheetUrl",
                                "type": "text",
                                "label": "Spreadsheet Url"
                            },
                            {
                                "name": "profileUrls",
                                "type": "text",
                                "label": "Profile Urls"
                            },
                            {
                                "name": "columnName",
                                "type": "text",
                                "label": "Column Name"
                            },
                            {
                                "name": "numberOfPostsPerProfile",
                                "type": "number",
                                "label": "Number Of Posts Per Profile"
                            },
                            {
                                "name": "numberOfProfilesPerLaunch",
                                "type": "number",
                                "label": "Number Of Profiles Per Launch"
                            },
                            {
                                "name": "csvName",
                                "type": "text",
                                "label": "Csv Name"
                            },
                            {
                                "name": "onlyGetFirstPost",
                                "type": "boolean",
                                "label": "Only Get First Post"
                            },
                            {
                                "name": "watcherMode",
                                "type": "boolean",
                                "label": "Watcher Mode"
                            },
                            {
                                "name": "filterResults",
                                "type": "boolean",
                                "label": "Filter Results"
                            },
                            {
                                "name": "filters",
                                "type": "text",
                                "label": "Filters"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "60"
            },
            "metadata": {
                "designer": {
                    "x": -781,
                    "y": 3,
                    "name": "Sleep 60"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "validate": {
                            "min": 1,
                            "max": 300
                        },
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://hook.us1.make.com/qqi1dd6plrn08z1thqbjujoqx2dcvvhc?container_id={{6.containerId}}",
                "serializeUrl": false,
                "method": "get",
                "headers": [],
                "qs": [],
                "bodyType": "",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": -483,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 3,
                        "module": "google-sheets:filterRows",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 2154157
                        },
                        "mapper": {
                            "from": "drive",
                            "valueRenderOption": "FORMATTED_VALUE",
                            "dateTimeRenderOption": "FORMATTED_STRING",
                            "spreadsheetId": "1RUgx-FOVKtSClQXw6CsJ62_kjev9DvFwhbwR8PpagEU",
                            "sheetId": "newresultsfile",
                            "includesHeaders": true,
                            "tableFirstRow": "A1:CZ1",
                            "sortOrder": "asc"
                        },
                        "metadata": {
                            "designer": {
                                "x": 492,
                                "y": -10,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "info@leftclick.ai (info@leftclick.ai)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        }
                                    }
                                },
                                "expect": {
                                    "from": {
                                        "label": "Select from My Drive"
                                    },
                                    "valueRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted value"
                                    },
                                    "dateTimeRenderOption": {
                                        "mode": "chose",
                                        "label": "Formatted string"
                                    },
                                    "spreadsheetId": {
                                        "mode": "chose",
                                        "label": "Instagram Phantombuster Scraping"
                                    },
                                    "sheetId": {
                                        "mode": "chose",
                                        "label": "newresultsfile"
                                    },
                                    "includesHeaders": {
                                        "mode": "chose",
                                        "label": "Yes"
                                    },
                                    "tableFirstRow": {
                                        "label": "A-CZ"
                                    },
                                    "sortOrder": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    },
                                    "orderBy": {
                                        "mode": "chose"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Enter a Spreadsheet ID and Sheet Name",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share"
                                        ]
                                    }
                                },
                                {
                                    "name": "valueRenderOption",
                                    "type": "select",
                                    "label": "Value render option",
                                    "validate": {
                                        "enum": [
                                            "FORMATTED_VALUE",
                                            "UNFORMATTED_VALUE",
                                            "FORMULA"
                                        ]
                                    }
                                },
                                {
                                    "name": "dateTimeRenderOption",
                                    "type": "select",
                                    "label": "Date and time render option",
                                    "validate": {
                                        "enum": [
                                            "SERIAL_NUMBER",
                                            "FORMATTED_STRING"
                                        ]
                                    }
                                },
                                {
                                    "name": "limit",
                                    "type": "number",
                                    "label": "Maximum number of returned rows"
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "select",
                                    "label": "Spreadsheet",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "tableFirstRow",
                                    "type": "select",
                                    "label": "Column range",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "A1:Z1",
                                            "A1:BZ1",
                                            "A1:CZ1",
                                            "A1:DZ1",
                                            "A1:MZ1",
                                            "A1:ZZ1",
                                            "A1:AZZ1",
                                            "A1:BZZ1",
                                            "A1:CZZ1",
                                            "A1:DZZ1",
                                            "A1:MZZ1",
                                            "A1:ZZZ1"
                                        ]
                                    }
                                },
                                {
                                    "name": "filter",
                                    "type": "filter",
                                    "label": "Filter",
                                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                },
                                {
                                    "name": "sortOrder",
                                    "type": "select",
                                    "label": "Sort order",
                                    "validate": {
                                        "enum": [
                                            "asc",
                                            "desc"
                                        ]
                                    }
                                },
                                {
                                    "name": "orderBy",
                                    "type": "select",
                                    "label": "Order by"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "__IMTLENGTH__",
                                    "label": "Total number of bundles",
                                    "type": "uinteger"
                                },
                                {
                                    "name": "__IMTINDEX__",
                                    "label": "Bundle order position",
                                    "type": "uinteger"
                                },
                                {
                                    "name": "__ROW_NUMBER__",
                                    "label": "Row number",
                                    "type": "number"
                                },
                                {
                                    "name": "__SPREADSHEET_ID__",
                                    "label": "Spreadsheet ID",
                                    "type": "text"
                                },
                                {
                                    "name": "__SHEET__",
                                    "label": "Sheet",
                                    "type": "text"
                                },
                                {
                                    "name": "0",
                                    "label": "postUrl (A)",
                                    "type": "text"
                                },
                                {
                                    "name": "1",
                                    "label": "description (B)",
                                    "type": "text"
                                },
                                {
                                    "name": "2",
                                    "label": "commentCount (C)",
                                    "type": "text"
                                },
                                {
                                    "name": "3",
                                    "label": "likeCount (D)",
                                    "type": "text"
                                },
                                {
                                    "name": "4",
                                    "label": "location (E)",
                                    "type": "text"
                                },
                                {
                                    "name": "5",
                                    "label": "locationId (F)",
                                    "type": "text"
                                },
                                {
                                    "name": "6",
                                    "label": "pubDate (G)",
                                    "type": "text"
                                },
                                {
                                    "name": "7",
                                    "label": "likedByViewer (H)",
                                    "type": "text"
                                },
                                {
                                    "name": "8",
                                    "label": "isSidecar (I)",
                                    "type": "text"
                                },
                                {
                                    "name": "9",
                                    "label": "type (J)",
                                    "type": "text"
                                },
                                {
                                    "name": "10",
                                    "label": "caption (K)",
                                    "type": "text"
                                },
                                {
                                    "name": "11",
                                    "label": "profileUrl (L)",
                                    "type": "text"
                                },
                                {
                                    "name": "12",
                                    "label": "username (M)",
                                    "type": "text"
                                },
                                {
                                    "name": "13",
                                    "label": "fullName (N)",
                                    "type": "text"
                                },
                                {
                                    "name": "14",
                                    "label": "imgUrl (O)",
                                    "type": "text"
                                },
                                {
                                    "name": "15",
                                    "label": "postId (P)",
                                    "type": "text"
                                },
                                {
                                    "name": "16",
                                    "label": "query (Q)",
                                    "type": "text"
                                },
                                {
                                    "name": "17",
                                    "label": "timestamp (R)",
                                    "type": "text"
                                },
                                {
                                    "name": "18",
                                    "label": "(S)",
                                    "type": "text"
                                },
                                {
                                    "name": "19",
                                    "label": "(T)",
                                    "type": "text"
                                },
                                {
                                    "name": "20",
                                    "label": "(U)",
                                    "type": "text"
                                },
                                {
                                    "name": "21",
                                    "label": "(V)",
                                    "type": "text"
                                },
                                {
                                    "name": "22",
                                    "label": "(W)",
                                    "type": "text"
                                },
                                {
                                    "name": "23",
                                    "label": "(X)",
                                    "type": "text"
                                },
                                {
                                    "name": "24",
                                    "label": "(Y)",
                                    "type": "text"
                                },
                                {
                                    "name": "25",
                                    "label": "(Z)",
                                    "type": "text"
                                },
                                {
                                    "name": "26",
                                    "label": "(AA)",
                                    "type": "text"
                                },
                                {
                                    "name": "27",
                                    "label": "(AB)",
                                    "type": "text"
                                },
                                {
                                    "name": "28",
                                    "label": "(AC)",
                                    "type": "text"
                                },
                                {
                                    "name": "29",
                                    "label": "(AD)",
                                    "type": "text"
                                },
                                {
                                    "name": "30",
                                    "label": "(AE)",
                                    "type": "text"
                                },
                                {
                                    "name": "31",
                                    "label": "(AF)",
                                    "type": "text"
                                },
                                {
                                    "name": "32",
                                    "label": "(AG)",
                                    "type": "text"
                                },
                                {
                                    "name": "33",
                                    "label": "(AH)",
                                    "type": "text"
                                },
                                {
                                    "name": "34",
                                    "label": "(AI)",
                                    "type": "text"
                                },
                                {
                                    "name": "35",
                                    "label": "(AJ)",
                                    "type": "text"
                                },
                                {
                                    "name": "36",
                                    "label": "(AK)",
                                    "type": "text"
                                },
                                {
                                    "name": "37",
                                    "label": "(AL)",
                                    "type": "text"
                                },
                                {
                                    "name": "38",
                                    "label": "(AM)",
                                    "type": "text"
                                },
                                {
                                    "name": "39",
                                    "label": "(AN)",
                                    "type": "text"
                                },
                                {
                                    "name": "40",
                                    "label": "(AO)",
                                    "type": "text"
                                },
                                {
                                    "name": "41",
                                    "label": "(AP)",
                                    "type": "text"
                                },
                                {
                                    "name": "42",
                                    "label": "(AQ)",
                                    "type": "text"
                                },
                                {
                                    "name": "43",
                                    "label": "(AR)",
                                    "type": "text"
                                },
                                {
                                    "name": "44",
                                    "label": "(AS)",
                                    "type": "text"
                                },
                                {
                                    "name": "45",
                                    "label": "(AT)",
                                    "type": "text"
                                },
                                {
                                    "name": "46",
                                    "label": "(AU)",
                                    "type": "text"
                                },
                                {
                                    "name": "47",
                                    "label": "(AV)",
                                    "type": "text"
                                },
                                {
                                    "name": "48",
                                    "label": "(AW)",
                                    "type": "text"
                                },
                                {
                                    "name": "49",
                                    "label": "(AX)",
                                    "type": "text"
                                },
                                {
                                    "name": "50",
                                    "label": "(AY)",
                                    "type": "text"
                                },
                                {
                                    "name": "51",
                                    "label": "(AZ)",
                                    "type": "text"
                                },
                                {
                                    "name": "52",
                                    "label": "(BA)",
                                    "type": "text"
                                },
                                {
                                    "name": "53",
                                    "label": "(BB)",
                                    "type": "text"
                                },
                                {
                                    "name": "54",
                                    "label": "(BC)",
                                    "type": "text"
                                },
                                {
                                    "name": "55",
                                    "label": "(BD)",
                                    "type": "text"
                                },
                                {
                                    "name": "56",
                                    "label": "(BE)",
                                    "type": "text"
                                },
                                {
                                    "name": "57",
                                    "label": "(BF)",
                                    "type": "text"
                                },
                                {
                                    "name": "58",
                                    "label": "(BG)",
                                    "type": "text"
                                },
                                {
                                    "name": "59",
                                    "label": "(BH)",
                                    "type": "text"
                                },
                                {
                                    "name": "60",
                                    "label": "(BI)",
                                    "type": "text"
                                },
                                {
                                    "name": "61",
                                    "label": "(BJ)",
                                    "type": "text"
                                },
                                {
                                    "name": "62",
                                    "label": "(BK)",
                                    "type": "text"
                                },
                                {
                                    "name": "63",
                                    "label": "(BL)",
                                    "type": "text"
                                },
                                {
                                    "name": "64",
                                    "label": "(BM)",
                                    "type": "text"
                                },
                                {
                                    "name": "65",
                                    "label": "(BN)",
                                    "type": "text"
                                },
                                {
                                    "name": "66",
                                    "label": "(BO)",
                                    "type": "text"
                                },
                                {
                                    "name": "67",
                                    "label": "(BP)",
                                    "type": "text"
                                },
                                {
                                    "name": "68",
                                    "label": "(BQ)",
                                    "type": "text"
                                },
                                {
                                    "name": "69",
                                    "label": "(BR)",
                                    "type": "text"
                                },
                                {
                                    "name": "70",
                                    "label": "(BS)",
                                    "type": "text"
                                },
                                {
                                    "name": "71",
                                    "label": "(BT)",
                                    "type": "text"
                                },
                                {
                                    "name": "72",
                                    "label": "(BU)",
                                    "type": "text"
                                },
                                {
                                    "name": "73",
                                    "label": "(BV)",
                                    "type": "text"
                                },
                                {
                                    "name": "74",
                                    "label": "(BW)",
                                    "type": "text"
                                },
                                {
                                    "name": "75",
                                    "label": "(BX)",
                                    "type": "text"
                                },
                                {
                                    "name": "76",
                                    "label": "(BY)",
                                    "type": "text"
                                },
                                {
                                    "name": "77",
                                    "label": "(BZ)",
                                    "type": "text"
                                },
                                {
                                    "name": "78",
                                    "label": "(CA)",
                                    "type": "text"
                                },
                                {
                                    "name": "79",
                                    "label": "(CB)",
                                    "type": "text"
                                },
                                {
                                    "name": "80",
                                    "label": "(CC)",
                                    "type": "text"
                                },
                                {
                                    "name": "81",
                                    "label": "(CD)",
                                    "type": "text"
                                },
                                {
                                    "name": "82",
                                    "label": "(CE)",
                                    "type": "text"
                                },
                                {
                                    "name": "83",
                                    "label": "(CF)",
                                    "type": "text"
                                },
                                {
                                    "name": "84",
                                    "label": "(CG)",
                                    "type": "text"
                                },
                                {
                                    "name": "85",
                                    "label": "(CH)",
                                    "type": "text"
                                },
                                {
                                    "name": "86",
                                    "label": "(CI)",
                                    "type": "text"
                                },
                                {
                                    "name": "87",
                                    "label": "(CJ)",
                                    "type": "text"
                                },
                                {
                                    "name": "88",
                                    "label": "(CK)",
                                    "type": "text"
                                },
                                {
                                    "name": "89",
                                    "label": "(CL)",
                                    "type": "text"
                                },
                                {
                                    "name": "90",
                                    "label": "(CM)",
                                    "type": "text"
                                },
                                {
                                    "name": "91",
                                    "label": "(CN)",
                                    "type": "text"
                                },
                                {
                                    "name": "92",
                                    "label": "(CO)",
                                    "type": "text"
                                },
                                {
                                    "name": "93",
                                    "label": "(CP)",
                                    "type": "text"
                                },
                                {
                                    "name": "94",
                                    "label": "(CQ)",
                                    "type": "text"
                                },
                                {
                                    "name": "95",
                                    "label": "(CR)",
                                    "type": "text"
                                },
                                {
                                    "name": "96",
                                    "label": "(CS)",
                                    "type": "text"
                                },
                                {
                                    "name": "97",
                                    "label": "(CT)",
                                    "type": "text"
                                },
                                {
                                    "name": "98",
                                    "label": "(CU)",
                                    "type": "text"
                                },
                                {
                                    "name": "99",
                                    "label": "(CV)",
                                    "type": "text"
                                },
                                {
                                    "name": "100",
                                    "label": "(CW)",
                                    "type": "text"
                                },
                                {
                                    "name": "101",
                                    "label": "(CX)",
                                    "type": "text"
                                },
                                {
                                    "name": "102",
                                    "label": "(CY)",
                                    "type": "text"
                                },
                                {
                                    "name": "103",
                                    "label": "(CZ)",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "id": 4,
                        "module": "openai-gpt-3:analyzeImages",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 1134482
                        },
                        "mapper": {
                            "prompt": "The following is an Instagram image. I've included a caption below as well.\n\nCaption: \n\nUse the image and the caption to write a customized one-line introduction. Use a no-frills tone of voice.\n\nExamples: \"I really liked your last piclooks like you demolished that sandwich!\",\"Last pic looks like a lovely walk in the park.\"",
                            "images": [
                                {
                                    "imageUploadType": "url",
                                    "imageUrl": "{{3.`14`}}"
                                }
                            ],
                            "max_tokens": "150",
                            "model": "gpt-4-vision-preview",
                            "temperature": "0.7",
                            "top_p": "1",
                            "n_completions": "1"
                        },
                        "metadata": {
                            "designer": {
                                "x": 798,
                                "y": -6
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "1SecondCopy",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "openai-gpt-3"
                                        }
                                    }
                                },
                                "expect": {
                                    "images": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "imageUploadType": {
                                                    "mode": "chose",
                                                    "label": "Image URL"
                                                }
                                            }
                                        ]
                                    },
                                    "model": {
                                        "mode": "chose",
                                        "label": "gpt-4-vision-preview"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:openai-gpt-3",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "prompt",
                                    "type": "text",
                                    "label": "Prompt",
                                    "required": true
                                },
                                {
                                    "name": "images",
                                    "type": "array",
                                    "label": "Images",
                                    "required": true,
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "imageUploadType",
                                                "type": "select",
                                                "label": "How would you like to specify an image?",
                                                "options": [
                                                    {
                                                        "label": "Image URL",
                                                        "value": "url",
                                                        "nested": [
                                                            {
                                                                "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                                "mode": "edit",
                                                                "name": "imageUrl",
                                                                "type": "url",
                                                                "label": "Image URL",
                                                                "mappable": {
                                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                                },
                                                                "required": true
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Image File",
                                                        "value": "imageFile",
                                                        "nested": [
                                                            {
                                                                "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                                "name": "imageFileData",
                                                                "type": "buffer",
                                                                "label": "Image File",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image",
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "max_tokens",
                                    "type": "number",
                                    "label": "Max Tokens"
                                },
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "validate": {
                                        "enum": [
                                            "gpt-4-vision-preview"
                                        ]
                                    }
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "top_p",
                                    "type": "number",
                                    "label": "Top P",
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "n_completions",
                                    "type": "number",
                                    "label": "Number"
                                }
                            ],
                            "advanced": true
                        }
                    },
                    {
                        "id": 5,
                        "module": "google-sheets:updateRow",
                        "version": 2,
                        "parameters": {
                            "__IMTCONN__": 2154157
                        },
                        "mapper": {
                            "mode": "select",
                            "valueInputOption": "USER_ENTERED",
                            "from": "share",
                            "spreadsheetId": "/1RUgx-FOVKtSClQXw6CsJ62_kjev9DvFwhbwR8PpagEU",
                            "sheetId": "newresultsfile",
                            "rowNumber": "{{3.`__ROW_NUMBER__`}}",
                            "includesHeaders": true,
                            "values": {
                                "18": "Hi {{get(split(3.`13`; space); 1)}}, {{replace(4.result; \"\"\"\"; emptystring)}} I thought you might be interested in Xwe do Y and offer Z. Let me know if this might be worth a chat?"
                            }
                        },
                        "metadata": {
                            "designer": {
                                "x": 1101,
                                "y": -12
                            },
                            "restore": {
                                "parameters": {
                                    "__IMTCONN__": {
                                        "label": "info@leftclick.ai (info@leftclick.ai)",
                                        "data": {
                                            "scoped": "true",
                                            "connection": "google"
                                        }
                                    }
                                },
                                "expect": {
                                    "mode": {
                                        "label": "Select by path"
                                    },
                                    "valueInputOption": {
                                        "mode": "chose",
                                        "label": "User entered"
                                    },
                                    "from": {
                                        "label": "Shared With Me"
                                    },
                                    "spreadsheetId": {
                                        "path": [
                                            "Instagram Phantombuster Scraping"
                                        ]
                                    },
                                    "sheetId": {
                                        "label": "newresultsfile"
                                    },
                                    "includesHeaders": {
                                        "nested": [
                                            {
                                                "name": "values",
                                                "label": "Values",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "0",
                                                        "label": "postUrl (A)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "1",
                                                        "label": "description (B)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "2",
                                                        "label": "commentCount (C)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "3",
                                                        "label": "likeCount (D)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "4",
                                                        "label": "location (E)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "5",
                                                        "label": "locationId (F)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "6",
                                                        "label": "pubDate (G)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "7",
                                                        "label": "likedByViewer (H)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "8",
                                                        "label": "isSidecar (I)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "9",
                                                        "label": "type (J)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "10",
                                                        "label": "caption (K)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "11",
                                                        "label": "profileUrl (L)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "12",
                                                        "label": "username (M)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "13",
                                                        "label": "fullName (N)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "14",
                                                        "label": "imgUrl (O)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "15",
                                                        "label": "postId (P)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "16",
                                                        "label": "query (Q)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "17",
                                                        "label": "timestamp (R)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "18",
                                                        "label": "dm (S)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "19",
                                                        "label": "(T)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "20",
                                                        "label": "(U)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "21",
                                                        "label": "(V)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "22",
                                                        "label": "(W)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "23",
                                                        "label": "(X)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "24",
                                                        "label": "(Y)",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "25",
                                                        "label": "(Z)",
                                                        "type": "text"
                                                    }
                                                ]
                                            }
                                        ],
                                        "label": "Yes"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:google",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "mode",
                                    "type": "select",
                                    "label": "Choose a Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "select",
                                            "fromAll",
                                            "map"
                                        ]
                                    }
                                },
                                {
                                    "name": "valueInputOption",
                                    "type": "select",
                                    "label": "Value input option",
                                    "validate": {
                                        "enum": [
                                            "USER_ENTERED",
                                            "RAW"
                                        ]
                                    }
                                },
                                {
                                    "name": "from",
                                    "type": "select",
                                    "label": "Choose a Drive",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "drive",
                                            "share",
                                            "team"
                                        ]
                                    }
                                },
                                {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet ID",
                                    "required": true
                                },
                                {
                                    "name": "sheetId",
                                    "type": "select",
                                    "label": "Sheet Name",
                                    "required": true
                                },
                                {
                                    "name": "rowNumber",
                                    "type": "uinteger",
                                    "label": "Row number",
                                    "required": true
                                },
                                {
                                    "name": "includesHeaders",
                                    "type": "select",
                                    "label": "Table contains headers",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            true,
                                            false
                                        ]
                                    }
                                },
                                {
                                    "name": "values",
                                    "type": "collection",
                                    "label": "Values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "postUrl (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "description (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "commentCount (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "likeCount (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "location (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "locationId (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "pubDate (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "likedByViewer (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "isSidecar (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "type (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "caption (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "profileUrl (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "username (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "fullName (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "imgUrl (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "postId (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "query (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "timestamp (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "dm (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us1.make.com"
    }
}