Instagram Scraper Flow/4. Watch Output Of Individual PhantomBuster Instagram Scraper.json
{
    "name": "4. Watch Output Of Individual PhantomBuster Instagram Scraper",
    "flow": [
        {
            "id": 6,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1247796,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "PhantomBuster Instagram Scrape Completed",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "phantombuster:getAnOutput",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1387666
            },
            "mapper": {
                "phantom": "8087929871222392"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy (Org of Noah)",
                            "data": {
                                "scoped": "true",
                                "connection": "phantombuster"
                            }
                        }
                    },
                    "expect": {
                        "phantom": {
                            "mode": "chose",
                            "label": "YouTube Instagram Photo Extractor"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:phantombuster",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "phantom",
                        "type": "select",
                        "label": "Phantom ID",
                        "mode": "edit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "phantombuster:getAResultOfContainer",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1387666
            },
            "mapper": {
                "select": "map",
                "container": "{{6.container_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy (Org of Noah)",
                            "data": {
                                "scoped": "true",
                                "connection": "phantombuster"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By entering manually"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:phantombuster",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get a Result of Container",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "container",
                        "type": "text",
                        "label": "Container ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{7.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{10.resultObject}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1134482
            },
            "filter": {
                "name": "error?",
                "conditions": [
                    [
                        {
                            "a": "{{11.error}}",
                            "o": "text:equal",
                            "b": "No posts found"
                        }
                    ]
                ]
            },
            "mapper": {
                "prompt": "The following is an Instagram image. I've included a caption below as well.\n\nCaption: \n\nUse the image and the caption to write a customized one-line introduction. Use a no-frills tone of voice.\n\nExamples: \"I really liked your last pic—looks like you demolished that sandwich!\",\"Last pic looks like a lovely walk in the park.\"",
                "images": [
                    {
                        "imageUploadType": "url",
                        "imageUrl": "{{11.imgUrl}}"
                    }
                ],
                "max_tokens": "150",
                "model": "gpt-4-vision-preview",
                "temperature": "0.7",
                "top_p": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1502,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-vision-preview"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "type": "array",
                        "label": "Images",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image",
                            "name": "value"
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "validate": {
                            "enum": [
                                "gpt-4-vision-preview"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2154157
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "share",
                "spreadsheetId": "/1RUgx-FOVKtSClQXw6CsJ62_kjev9DvFwhbwR8PpagEU",
                "sheetId": "profiles",
                "includesHeaders": true,
                "values": {
                    "0": "{{11.postUrl}}",
                    "1": "{{11.description}}",
                    "2": "{{11.commentCount}}",
                    "3": "{{11.likeCount}}",
                    "4": "{{11.location}}",
                    "5": "{{11.locationId}}",
                    "6": "{{11.pubDate}}",
                    "7": "{{11.likedByViewer}}",
                    "8": "{{11.isSidecar}}",
                    "9": "{{11.type}}",
                    "10": "{{11.caption}}",
                    "11": "{{11.profileUrl}}",
                    "12": "{{11.username}}",
                    "13": "{{11.fullName}}",
                    "14": "{{11.imgUrl}}",
                    "15": "{{11.postId}}",
                    "16": "{{11.query}}",
                    "17": "{{11.timestamp}}",
                    "18": "Hi {{get(split(11.fullName; space); 1)}}, {{replace(3.result; \"\"\"\"; emptystring)}} I thought you might be interested in X—we do Y and offer Z. Let me know if this might be worth a chat?"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1802,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "info@leftclick.ai (info@leftclick.ai)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Select by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "Shared With Me"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Instagram Phantombuster Scraping"
                            ]
                        },
                        "sheetId": {
                            "label": "profiles"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "postUrl (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "description (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "commentCount (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "likeCount (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "location (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "locationId (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "pubDate (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "likedByViewer (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "isSidecar (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "type (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "caption (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "profileUrl (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "username (M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "fullName (N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "imgUrl (O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "postId (P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "query (Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "timestamp (R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "dm (S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "status (T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "postUrl (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "description (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "commentCount (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "likeCount (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "location (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "locationId (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "pubDate (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "likedByViewer (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "isSidecar (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "type (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "caption (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "profileUrl (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "username (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "fullName (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "imgUrl (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "postId (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "query (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "timestamp (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "dm (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "status (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "2"
            },
            "metadata": {
                "designer": {
                    "x": 2102,
                    "y": 1,
                    "name": "Sleep 2"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "validate": {
                            "min": 1,
                            "max": 300
                        },
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}